# {{ ansible_managed }}
#
# This is the /etc/pgtab or ~/pgtab file, to configure the PostgreSQL
# environment.
#
# This file is used by .pg_profile, and should be updated by you
# whenever a cluster is created/removed from this server:
#
# - Fields are separated by a colon ':'
# - A new line terminates the entry
# - Lines beginning with a pound sign '#' are comments
# - Blank lines are ignored
# - Multiple entries with the same cluster_name are not allowed. If more
#   than one entry exists, then the LAST one will be used.
#
# Entries are of the form:
#
#  pgclustername : pgtabversion : pgrelease : pgport : pgdatabase : pgroot : pgbindir : [pgdata] : [pgwalarch] : [pgbackups]
#
# Where:
#
#  pgclustername - Name of the server/cluster
#  pgtabversion  - This is version '1'. Version of the pgtab entry, to cover
#                  different field structure in the future
#  pgrelease     - Version of PostgreSQL
#  pgport        - Port it listens on
#  pgdatabase    - Default database name
#  pgroot        - Root location of the data
#  pgbindir      - Location of the binaries (psql, pg_ctl, etc)
#  pgdata        - If set, overides the /{pgroot}/{pgrelease}/{pgclustername}/data standard
#  pgwalarch     - If set, location of Archived WAL
#  pgbackups     - If set, location of backups
#
{{ postgresql_cluster_name }}:1:{{ postgresql_version }}:{{ postgresql_port }}:{{ postgresql_service_user }}:/var/lib/pgsql:/usr/pgsql-{{ postgresql_version }}/bin:{{ postgresql_data_directory }}:::